In [1]:
num1=3.14
print(type(num1))

<class 'float'>

In [5]:
statement="Python is a programming language"
statement.upper()

'PYTHON IS A PROGRAMMING LANGUAGE'

In [7]:
statement="python is a programming language"
statement.title()

'Python Is A Programming Language'

In [6]:
statement="Python is a programming language"
statement.lower()

'python is a programming language'

In [10]:
name='Brahmma Reddy'
course='DS'
print(f"Hello,My name is {name} and I register for tekworks")

Hello,My name is Brahmma Reddy and I register for tekworks

In [17]:
name=input("education")
vowels="aeiou"
count=0
for ch in vowels:
    count +=1
    print("Number of vowels:",count)

education education

Number of vowels: 1
Number of vowels: 2
Number of vowels: 3
Number of vowels: 4
Number of vowels: 5

In [20]:
def replace_spaces(s):
    return s.replace(" ","_")
print(replace_spaces("data science project"))

data_science_project

In [27]:
list1=["Brahmma",21,"srujana",20,"Dhanu",21]
print(list1)
print(list1[4])

['Brahmma', 21, 'srujana', 20, 'Dhanu', 21]
Dhanu

In [36]:
list1=["Brahmma",21,"srujana",20,"Dhanu",21]
list1.append("Bhavana")
print(list1)

['Brahmma', 21, 'srujana', 20, 'Dhanu', 21, 'Bhavana']

In [35]:
fruits=["apple","banana","mango"]
print(fruits)
fruits.append("orange")
print(fruits)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango', 'orange']

In [38]:
fruits=["apple","banana","mango"]
fruits.pop(0)
print(fruits)

['banana', 'mango']

In [39]:
fruits=["apple","banana","mango"]
fruits.remove("banana")
print(fruits)

['apple', 'mango']

In [40]:
fruits=["apple","banana","mango","orange","cherry","grapes"]
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'grapes', 'mango', 'orange']

In [45]:
text= "I love python programming language:"
words = text.split()
print(words)

['I', 'love', 'python', 'programming', 'language:']

In [44]:
text = "Python is easy to learn"
words = text.split()

print(words)

['Python', 'is', 'easy', 'to', 'learn']

In [46]:
numbers=(1,3,5,7,8,2)
x=numbers.index(2)   //index method
print(x)

5

In [49]:
numbers=(1,2,3,4,5,6,7,8,6,3,6,2,6,2,6)
x=numbers.count(6) //counting the numbers
print(x)

5

In [55]:
cars={
    "brand":"mahindra",
    "model":"Thar",
    "year":2020
}
print(cars)

{'brand': 'mahindra', 'model': 'Thar', 'year': 2020}

In [56]:
print(cars["model"])

Thar

In [57]:
keys=["model", "year"]
ss=[cars[k] for k in keys]
ss

['Thar', 2020]

In [73]:
cars={"brand":"mahindra","year":2011,"model":"thar"}
cars["year"]:2020
print(cars)
cars["color"]="black"
print(cars)

{'brand': 'mahindra', 'year': 2011, 'model': 'thar'}
{'brand': 'mahindra', 'year': 2011, 'model': 'thar', 'color': 'black'}

In [68]:
fruit=[]
fruit.append("apple"),
fruit.append("banana"),
fruit.append("orange"),
fruit.append("grapes"),
fruit.append("mango")
print(fruit)

['apple', 'banana', 'orange', 'grapes', 'mango']

In [72]:
string = input("Enter a string: ")
freq = {}
for ch in string:
    freq[ch] = freq.get(ch, 0) + 1
for ch in string:
    if freq[ch] == 1:
        print("First non-repeating character:", ch)
        break
else:
    print("No non-repeating character found")

Enter a string:  banana

First non-repeating character: b

In [71]:
string = input("Enter a string: ")
freq = {}
for ch in string:
    freq[ch] = freq.get(ch, 0) + 1
for ch in string:
    if freq[ch] == 1:
        print("First non-repeating character:", ch)
        break
else:
    print("No non-repeating character found")

Enter a string:  apple

First non-repeating character: a

In [78]:
amt=int(input("Enter withdraw amount"))
five=0
two=0
if amt%100==0:
    if amt>=500:
        five=amt//500
        amt=amt-(five*500)
        print("500--------------:",five)
    if amt>=200:
        two=amt//200
        amt=amt-(two*200)
        print("200--------------:",two)
    if amt==100:
        two=amt//100
        print("100--------------:",two)
    print()
else:
    print("Please enter valid amount only")

Enter withdraw amount 20000

500--------------: 40

In [80]:
def deposite():
    acbal=10000
    amt=int(input("Enter your deposite amount:  "))
    if amt%100==0:
        acbal=acbal+amt
    else:
        print("Please enter multiples of 100 only")
    print("Avalaible bal :",acbal)

def withdraw():
    print()
    
def viewOptions():
    print("1. deposite")
    print("2. withdraw")
    print("3. bal Enquiry")
    print("0. EXIT")
    option=int(input("Choose your option: "))
    if option==1:
        deposite()
    elif option==2:
        print("Withdraw")
    elif option==3:
        print("Bal Enquiry")
    elif option==0:
        print("Thank you, visit again")
    else:
        print("Invalid option")
        

viewOptions()

1. deposite
2. withdraw
3. bal Enquiry
0. EXIT

Choose your option:  1
Enter your deposite amount:   1230

Please enter multiples of 100 only
Avalaible bal : 10000

In [82]:
acbal = 10000

def deposit():
    global acbal
    amt = int(input("Enter your deposit amount: "))

    if amt % 100 != 0:
        print("Please enter multiples of 100 only")
    elif amt > 50000:
        print("Maximum deposit limit is 50000")
    else:
        acbal += amt
        print("Deposit successful")

    print("Available balance:", acbal)


def withdraw():
    global acbal
    amt = int(input("Enter withdraw amount: "))

    if amt % 100 != 0:
        print("Withdraw amount must be multiples of 100")
    elif amt > 20000:
        print("Withdraw limit per transaction is 20000")
    elif amt > acbal:
        print("Insufficient balance")
    else:
        acbal -= amt
        print("Withdrawal successful")

    print("Available balance:", acbal)


def balance_enquiry():
    print("Available balance:", acbal)


def viewOptions():
    while True:
        print("\n1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")

        option = int(input("Choose your option: "))

        if option == 1:
            deposit()
        elif option == 2:
            withdraw()
        elif option == 3:
            balance_enquiry()
        elif option == 0:
            print("Thank you, visit again")
            break
        else:
            print("Invalid option")


viewOptions()

1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT

Choose your option:  0

Thank you, visit again

In [101]:
for row in range(6):
    for col in range(7):
        if(row==0 and col%3!=0 or row==1 and col%3==0 or row-col==2 or row+col==8):
            print("@",end=" ")
        else:
            print(" ",end=" ")
    print()

  @ @   @ @
@     @     @
@           @
  @       @
    @   @
      @

In [85]:
class Bank:
    acbal=10000
    def withdraw(self):
        amt=int(input("Enter your withdraw amount :"))
        if amt%100==0:
            if amt<=20000:
                if amt<=self.acbal:
                    self.acbal=self.acbal-amt
                    print("Available bal : ",self.acbal)
                else:
                    print("insuffient fund")
            else:
                print("withdraw limit is 20k only")
        else:
            print("Please enter multiples of 100 only")
                    
    def deposite(self):
        
        amt=int(input("Enter your deposite amount:  "))
        if amt%100==0:
            self.acbal=self.acbal+amt
        else:
            print("Please enter multiples of 100 only")
        print("Avalaible bal :",self.acbal)
    def viewOptions(self):
        print("1. deposite")
        print("2. withdraw")
        print("3. bal Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposite()
        elif option==2:
            obj.withdraw()
        elif option==3:
            print("Bal Enquiry")
        elif option==0:
            print("Thank you, visit again")
        else:
            print("Invalid option")

obj=Bank()
obj.viewOptions()

1. deposite
2. withdraw
3. bal Enquiry
0. EXIT

Choose your option:  1
Enter your deposite amount:   20000

Avalaible bal : 30000

In [104]:
try:
    numerator=int(input("Enter the numerator:"))
    denominator=int(input("Enter the denominator:"))
    result=numerator/denominator
    print("Result:",result)
except ZeroDivisionError:
    print("Error: Cannot divide by Zero.")
except ValueError:
    print("Error: Please enter valid integers for numerator.")

Enter the numerator: 60
Enter the denominator: 30

Result: 2.0

In [106]:
try:
    value=int(input("enter value"))
except ValueError:
    print("enter integer values")
else:
    val=value**2
    print(val)
finally:
    print("This line will be executed always")

enter value 5

25
This line will be executed always